@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'JetBrainsMono' ;
    src: url(../assets/fonts/JetBrainsMono-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'JetBrainsMonoItalic' ;
    src: url(../assets/fonts/JetBrainsMono-Italic-VariableFont_wght.ttf);
}

@layer base{
    html{
        font-family:"JetBrainsMono";
        font-size: 16px;
        font-weight: 100;
        color: black;
    }
}

#lengthSlider{
    appearance: none;
    height: 8px;
    outline: none;
}

#lengthSlider::-webkit-slider-thumb{
    appearance: none;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #E6E5EA;
}

#lengthSlider::-webkit-slider-thumb:hover{
    cursor: pointer;
    outline: 2px solid #A4FFAF;
    background-color: #18171F;

}

.options input[type="checkbox"]{
    display: none;
}
.options input[type="checkbox"]:checked + span {
    background-color: #A4FFAF;
    border:none;
}

.options input[type="checkbox"]:checked + span svg {
    display: block;
}

.btn-generate:hover #arrow svg path {
    fill: #A4FFAF;
}

#copy-password:hover svg path {
    fill: #E6E5EA ;
}

@media (max-width: 374px) {
    html{
        font-size: 14px;
    }
  }
  